*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

li {
  padding: 1rem;
  margin: 1rem 0;
}

.app-container {
  min-width: 70rem;
  margin: 0 auto;
}

.compose-tweet-container {
  width: 100%;
  text-align: center;
}

.tweet-body {
  font-size: 1.8rem;
  height: 15rem;
  width: 40%;
  min-width: 55rem;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 1rem;
  margin: 1rem;
}

.btn {
  display: block;
  margin: 1rem auto;
  font-size: 2rem;
  padding: 1rem 4rem;
  border: 1px solid #aaa;
  border-radius: 3px;
  background: #eee;
  outline: none;
}

.btn:hover {
  cursor: pointer;
  background: #aaa;
}

.btn:disabled {
  background: #eee;
  cursor: default;
}

.tweet {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #aaa;
  border-radius: 3px;
  width: 45%;
  min-width: 60rem;
  margin: 1rem auto 2rem auto;
  padding: 2rem;
  box-shadow: 0 .5rem rgba(130, 130, 130, .1);
}

.user-pic {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: .5rem;
}

.tweet-content {
  width: 90%;
  padding-left: 1rem;
}

.text {
  font-size: 1.8rem;
  padding: .5rem 0;
}

.actions {

}

.action-icon {
  color: red;
}

.action-icon:hover {
  cursor: pointer;
}

.user-name, .date-time, .label {
  font-size: 2rem;
  margin: 0;
  padding: .2rem 0;
}

.date-time {
  font-size: 1.4rem;
  font-weight: 400;
  color: #eaa;
}